
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat';
}


body {
        background-color: #EEC9F4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .svgHeader {
    display: block;
    width: 100%;
    height: auto;
  }

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    padding-right: 5vw;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5vw;
  }
  
  nav a:hover {
    color: #ccc;
  }
  



.welcome-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  padding: 60px;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 200;
  display: inline-block;
  text-align: center;
  width: 50%;
}

.welcome-banner h1,
.welcome-banner p {
  margin: 0;
  padding: 0;
}

.welcome-banner h1 {
  margin-bottom: 10px;
  font-size: 45px;
}

.welcome-banner p {
    font-size: 25px;
    padding-top: 25px;
}


.cta {
    position: absolute;
    bottom: -25px;
    display: inline-block;
    padding: 15px 24px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #32279E;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    left: 25%;
    
  }

  .cta a {
    font-weight: 500;
  }

  .bottom-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 2;
  }
  
  .box {
    width: 200px;
    height: 100px;
    background-color: white;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 767px) {
    .bottom-boxes {
      flex-direction: column;
      height: auto;
    }
  
    .box {
      margin: 10px 0;
    }
  }
